<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <div class="container">
      <img class="image" src="/images/IEEE_CUSB.png">
      <div style="clear: right;"></div>
      <form method="POST" action="/send" class="submitForm signUp">
        <div id="title">
          Participant Registration
        </div>

        <div class="inputs">
          <div id="input1" class="field">
            <label for="name">NAME*</label>
            <input name="name" type="text" required placeholder="Enter Your Name">
          </div>

          <div id="input2" class="field">
            <label for="email">EMAIL*</label>
            <input name="email" type="email" required placeholder="Enter Your Email">
          </div>

          <div id="input3" class="field">
            <label for="password">PASSWORD*</label>
            <input name="password" type="password" required placeholder="Enter Your Password">
          </div>

          <div id="input4" class="field">
            <label for="University">UNIVERSITY*</label>
            <input name="university" type="text" required placeholder="Enter Your University/Institute">
          </div>

          <div id="input5" class="field">
            <div>
              <label for="gender">GENDER</label>
              <div>
              <input type="radio" name="gender" value="Male" required>
              <label class="radio">MALE</label><br/>
              <input type="radio" name="gender" value="Female" required>
              <label class="radio">FEMALE</label>
              </div>
            </div>
          </div>

          <div id="input6" class="field">
            <label for="otherW">LIST OF WORKSHOPS*</label>
            <input type="text" name="workshops" placeholder="Separate every entry with a dash" required>
          </div>
        </div>

        <a href="/signin" class="signmein">I already have an account.</a>

        <div class="fieldbox">
          <input type="submit" class="submit" value="SIGN UP">
        </div>
      </form>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
