<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Successful</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="success"><p>Signup done successfully. Check your E-mail and check your response was sent successfully.</p></div>
    </body>
</html>