<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Registered Successfully</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel='stylesheet' href='/stylesheets/success.css' />
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
        <div class="container" id="container2">
            <img class="image2" src="/images/IEEE_CUSB2.png">
            <div id="title">
                Hello <%= record.Name %>
            </div>

            <div class="myInfo">
                <p>E-mail: <%= record.Email %></p>
                <p>University: <%= record.University %></p>
                <p>My Workshops : <%= record.Workshops.toString('-') %></p>
            </p>

            <form method="GET" action="/logout">
                <div class="fieldbox">
                    <input type="submit" class="submit" value="LOG OUT">
                </div>
            </form>
        </div>
        <script src="/javascripts/script.js"></script>
    </body>
</html>