* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font: 14px "Segoe UI";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #015E7F;
  position: relative;
  letter-spacing: 0.033vw;
}

.container  {
  position: absolute;
  opacity: 0.3;
  top: -100%;
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
  transition-property: top, opacity;
  transition-duration: 500ms;
  box-shadow: 1px 1px 5px 1px grey;
}

.image {
  width: 40%;
  height: 100%;
}

.submitForm {
  flex: 6;
  padding: 2%;
  position: relative;
}

#title {
  padding: 3.5%;
  padding-bottom: 0;
  font-size: 3vw;
  font-family: "Segoe UI";
  color: #1a1f38;
  font-weight: bolder;
}

.inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  overflow-y: auto;
}

.field {
  margin: 7%;
}

input[type="text"], input[type="email"], input[type="radio"] {
  padding: 0.7vw;
  width: 100%;
  margin-top: 0.8vw;
  border-color: grey;
  border-style: solid;
  border-width: 0.033vw;
  border-radius: 2px;
  font-size: 1vw;
}

input[type="text"]:focus, input[type="email"]:focus {
  outline: none;
}

label {
  display: block;
  font-weight: 500;
  color: #1a1f38;
  font-size: 0.8vw;
}

.radio {
  display: inline;
  width: 10%;
}

input[type=radio] {
  display:inline;
  height: 15px;
  width: 1vw;
}

.fieldbox {
  display: flex;
  justify-content: center;
}

input.submit {
  background-color: #38488a;
  border: none;
  color: white;
  letter-spacing: 0.06vw;
  margin: 0;
  padding: 5px 0;
  position: absolute;
  height: 7%;
  width: 30%;
  font-size: 1vw;
  top: 97%;
  box-shadow: 0px 1px 5px 2px grey;
  border-radius: 2px;
}